.google-link{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  width: 300px;
  background-color: #fafafa;
  margin-top: 10px;

  display: block;
  color:black;
  text-decoration: none;
}

.container{
  background-color: orange;
}
.alex{
  font-size: 90px;
  background-color: pink;
  vertical-align: top; /*base라인 지정*/
  /*baseline은 vertical-align의 조건들을 충족시키면서
  줄의 높이를 최소화시키는 곳에 위치한다*/
}
.ben{
  font-size:30px;
  background-color: lime;
  vertical-align: middle; /*부모 태그의 가운데와 이 요소의 가운데가 맞춰짐*/
}
.chris{
  font-size:60px;
  background-color: yellow;
  vertical-align: middle;
}