.div1{
  height: 500px;
  border: 5px solid green;
  background-image: url(../intro/images/HP1_RupertGrint_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size:cover;/*이미지를 다 채우고 비율을 유지*/
  background-position: center bottom;/*어디 부분을 자를지*/
}
*{
  box-sizing: border-box;/*알아서 패딩+border사이즈까지 합한 박스 사이즈로 맞춰줌
   원래는 content사이즈로 맞춰져있음*/
}
body{
  background-color: gray;
}
h1{
  padding: 50px 65px 20px 80px; /*시계방향으로*/
  margin: 80px 30px 75px 50px;/*시계방향으로*/
  max-height: 50px;
  overflow: auto;
  border: 5px dashed #4d9fff;/*테두리굵기, 선의종류, 색깔*/
}
h2{
  border-style: solid;
  border-color: #4d9fff;
  border-width: 5px;
  border-radius: 50px;
  background-color:transparent;/*투명색*/
  box-shadow: 10px 10px 50px 10px red;
}
h3{
  border-top: 3px dotted red;
  border-left: 5px solid green;
}